#main {
  margin: auto;
  /*margin-top: 100px;*/
  border-radius: 10px;
  background-color: rgb(244, 244, 244);
  text-align: center;
  width: 400px;
  height: 640px;

}

/* 채팅 영역 */
#chat {
  height: 580px;
  width: 100%;
  overflow-y: auto;
  background-color: rgb(8, 186, 251);
}

/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: aquamarine;
  text-align: center;
  margin-top: 15px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  background-color: indianred;
  text-align: center;
  margin-top: 15px;
}

/* 내가 보낸 메시지 */

.myprofile {
  width: auto;
  margin: auto;
  list-style:none;
  padding-left:0px;

}


.me {
  width: auto;
  margin: auto;
  background-color: yellow;
  border-radius: 5px;
  margin-top: 1px;
  float: right;
  text-align: right;
}

.mytime{
  font-size: 10px;
  float: right;
}


.profile {
  width: auto;
  margin: auto;
  list-style:none;
  padding-left:0px;

}

.user {
  font-size: 12px;
  margin-bottom: 0.2rem;
  float: left;
  list-style:none;
  padding-left:0px;
}

.message {
  width: auto;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 1px;
  float: left;
  text-align: left;
}

.time {
  font-size: 10px;
  float: left;
}